@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


    /* Pre Common Style Identifier */

.prm-color_1{
    background-color: #FFF8F3;
}
.prm-color_2{
    color: #FD6E0A;
}
.prm-color_3{
    background-color: #FD6E0A;
}

.primary-btn{
    border: none;
    text-decoration: none;
    color: #fff;
    padding: 8px 14px;
    border-radius: 3px;
    cursor: pointer;
}
.secondary-btn{
    border: none;
    text-decoration: none;
    color: #FD6E0A;
    padding: 8px 14px;
    border-radius: 3px;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}

.btn i{
    margin-right: 8px;
}
.container{
    width: 1280px;
    margin: 0 auto;
    background-image: url('../portfolio-resources-main/images/header_bg.png'), url('../portfolio-resources-main/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.primary-padding{
    padding: 20px  100px;
}
.secondary-padding{
    padding-left: 100px ;

}
.navbar{
    justify-content: space-between;

}
    /* Header Content Style  */

.header{
    
}

.heading h1{
    font-size: 34px;
}
.navbar{
    display: flex;
}


.navigation{
    display: flex;
    align-items: center;
}

.nav-link{
    display: flex;
}

.nav-link li{
    list-style: none;
    margin-right: 24px;
    cursor: pointer;
}


/* Banner Content Style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-title{
    color: #5c5754;
}
.banner-name{
    font-size: 52px;
}
.banner-btn{
    margin-top: 40px;
}


    /* Main Section Style - About */
.text-align{
    text-align: center;
    padding: 0 60px;
    
}

.main-container{
    margin: 100px 0px;
}

.section{
    max-width: 1020px;
    margin: 0px auto 100px;
}

.about-description{
    margin: 30px 0px;
}

.about-details{
    display: flex;
    justify-content: space-around;
}




/* Main Section Style - About */
/* Main Section Style - About */
.layout{
    padding: 80px 90px;
}

.do-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.skills{
    padding: 20px;
    border: 1px solid #f3f3f3;
    box-shadow: 1px 2px rgb(238, 238, 238);
    border-radius: 3px;
}

.skill-title{
    font-size: 20px;
    margin: 10px 0;
}




/* Main Section Style - Summary */
.box{
    display: flex;
    gap: 20px;
    margin: 50px 0 ;
}

.box-content{
    padding: 20px 0;
}
.box-bottom-border{
    border-bottom: 2px solid #d3d0d0;
}

.course{
    font-size: 16px;
    color: #5c5754;
}

.university{
    line-height: 22px;
    color: #6b6b6b;
}

.uni-des{
    font-size: 12px;
}
.sum-btn{
    width: 133px;
    margin: 0 auto;
}


/* Footer Section Style*/
.footer-container{
    max-width: 1020px;
    margin: 0px auto;
    padding: 80px 0;
}

.foot-box{
    display: flex;
    /* gap: 200px; */
    justify-content: space-between;
    /* border: 2px solid #0a0a0a; */
}

.foot-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.foot-des{
    margin: 10px 0;
    font-size: 12px;
    padding-right: 200px;
}


.foot-icons ul{
    display: flex;
}
.foot-icons ul li{
    list-style: none;
}

.foot-icons ul li a{
    text-decoration: none;
    color: #FD6E0A;
    margin-right: 10px;
    font-size: 18px;
}

.form input, textarea{
    display: block;
    width: 350px;
    padding: 8px 12px;
    margin: 10px 0;
    border: none;
    box-shadow:1px 1px 1px rgb(207, 207, 207);
    border-radius: 4px;
}

.form textarea{
    height: 100px;
}

.submit{
    margin-top: 20px;
}